<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoioy.diamond.oauth2.mapper.OauthTokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hoioy.diamond.oauth2.domain.OauthToken">
        <result column="id" property="id"/>
        <result column="flag" property="flag"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_date" property="modifiedDate"/>
        <result column="remark" property="remark"/>
        
        <result column="jti" property="jti"/>
        <result column="access_token" property="accessToken"/>
        <result column="sub" property="sub"/>
        <result column="expiration" property="expiration"/>
        
        <result column="expires_in" property="expiresIn"/>
        <result column="scope" property="scope"/>
        <result column="token_type" property="tokenType"/>
        <result column="client_id" property="clientId"/>
        
        <result column="remote_address" property="remoteAddress"/>
        <result column="refresh_token" property="refreshToken"/>
        <result column="refresh_token_expiration" property="refreshTokenExpiration"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,flag,created_by, created_date, modified_by, modified_date, remark, 
        jti, access_token, sub,expiration,
        expires_in, scope, token_type,client_id,
        remote_address, refresh_token, refresh_token_expiration
    </sql>

    <select id="selectPage" resultType="com.hoioy.diamond.oauth2.domain.OauthToken">
        select
        <include refid="Base_Column_List"/>
        from
        oauth_token 
        where
        flag=1
        <if test="oauthToken.createdBy != null and oauthToken.createdBy != ''">
            AND created_by LIKE "%"#{oauthToken.createdBy}"%"
        </if>
        <if test="oauthToken.createdDate != null ">
            AND created_date = #{oauthToken.createdDate}
        </if>
        <if test="oauthToken.modifiedBy != null and oauthToken.modifiedBy != ''">
            AND modified_by LIKE "%"#{oauthToken.modifiedBy}"%"
        </if>
        <if test="oauthToken.modifiedDate != null ">
            AND modified_date = #{oauthToken.modifiedDate}
        </if>
        <if test="oauthToken.remark != null and oauthToken.remark != ''">
            AND remark LIKE "%"#{oauthToken.remark}"%"
        </if>

        <if test="oauthToken.sub != null and oauthToken.sub != ''">
            AND sub LIKE "%"#{oauthToken.sub}"%"
        </if>
        <if test="oauthToken.clientId != null and oauthToken.clientId != ''">
            AND client_id = #{oauthToken.clientId}
        </if>
    </select>

    <select id="findOnLineUserCount" resultType="java.lang.Long">
        SELECT count(distinct sub)
        FROM
            oauth_token
        where
            expiration > #{currentTime}
    </select>

    <select id="findAllByJtiIn" resultType="com.hoioy.diamond.oauth2.domain.OauthToken">
        select
        <include refid="Base_Column_List"/>
        from
        oauth_token
        where
        flag=1
        and
        jti
        in
        <foreach collection="jtis" item="jti" index="index" open="(" close=")" separator=",">
            #{jti}
        </foreach>
    </select>
</mapper>
